<div class="main">

  <h1><%= "リスト:#{@list.name}" %></h1>

  <div class="contents-index">
    <% @list_contents.each do |content| %>
      <div class="contents-index-item">
        <%= link_to(content.title, "/contents/#{content.id}") %>
        <%= link_to("リストから削除", "/lists/#{@list.id}/#{content.id}/remove", method: :post, data: {confirm: "本当に削除しますか？"}) %>

      </div>
    <% end %>
  </div>

  <p>
    <%= link_to("作品を追加", "/contents/index") %>
    <%= link_to("リストを削除", "/lists/#{@list.id}/destroy", method: :delete, data: {confirm: "本当に削除しますか？"}) %>
  <p>

</div>
