<%= form_for @content,:url => {:action => :create} do |f| %>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <%= f.select :form, Content.forms.keys.to_a, {} %>
  <%= f.fields_for :collections do |clf| %>
    <p>No.</p>
    <%= clf.number_field :No %>
    <p>各タイトル</p>
    <%= clf.text_field :title %>
    <%= clf.fields_for :creators do |crf| %>
      <p>役職:名前</p>
      <%= crf.text_field :position %>
      <%= crf.text_field :name %>
      <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
