<%= form_for @content,:url => {:action => :create} do |f| %>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <%= f.select :form, Content.forms.keys.to_a, {} %>
  <%= fields_for @collection do |fc| %>
    <p>ナンバリング</p>
    <%= fc.number_field :No %>
    <p>各タイトル</p>
    <%= fc.text_field :title %>
    <%= fields_for @cbtc do |fcb| %>
      <p>役職</p>
      <%= fcb.select :position, CreatorBelongsToCollection.positions.keys.to_a, {}%>
      <%= fields_for @creator do |fcr| %>
        <p>名前</p>
        <%= fcr.text_field :name %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
