<%= form_for @content,:url => {:action => :create} do |f| %>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <%= f.select :form, Content.forms.keys.to_a, {} %>
  <%= f.fields_for :collections do |fc| %>
    <p>各タイトル</p>
    <%= fc.text_field :title %>
    <%= fc.fields_for :creator_belongs_to_collections do |fcb| %>
      <p>役職</p>
      <%= fcb.select :position, CreatorBelongsToCollection.positions.keys.to_a, {}  %>
  <%= f.submit %>
  <% end %>
  <% end %>
<% end %>
