<%= form_for @content,:url => {:action => :create} do |f| %>
<p>タイトル</p>
<%= f.text_field :title %>
<%= f.select :form, Content.forms.keys.to_a, {} %>
  <table class="table table-striped table-bordered table-hover">
      <tbody>
        <tr>
           <th>No.</th>
           <th>各タイトル</th>
           <th>Action</th>
        </tr>
        <%= f.nested_fields_for :collections, wrapper_tag: :tr do |q| %>
            <td><%= q.number_field    :No,      class: 'form-control' %></td>
            <td><%= q.text_field      :title,   class: 'form-control' %></td>
            <td><%= q.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %></td>
        <% end %>
    </tbody>
  </table>
  <%= f.add_nested_fields_link :collections, 'Add new', class: 'btn btn-primary', role: 'button' %>
  <%= f.submit %>
<% end %>
