<!DOCTYPE html>
<html>
  <head>
    <title>Librarian</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-logo">
        <%= link_to("librarian", "/") %>
      </div>
      <div class="header-list">
        <ul>
          <li><%= link_to("作品データベース", "/contents/index") %></li>
          <li><%= link_to("新規登録", "/signup") %></li>
          <li><%= link_to("ログイン", "/signin") %></li>
        </ul>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
